.nav-item {
    font-family: 'Mitr', sans-serif;
}

.main-sidebar {
    font-family: 'Mitr', sans-serif;
}

.p {
    font-family: 'Mitr', sans-serif;
}

.login-box {
    font-family: 'Mitr', sans-serif;
}

.input-group-text {
    font-family: 'Mitr', sans-serif;
}